name: Upload to S3 with OIDC

on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3
        run: aws s3 sync . s3://${{ secrets.S3_BUCKET }}/${{ secrets.S3_PREFIX }} --exclude=".git/*" --exclude=".github/*" --exclude=".venv/*" --exclude="tests/*"
